.NoSupport {
  display: table;
  width: 100%;
  height: 100%;

  background-image: url('../images/tile_black.jpg');
  background-repeat: repeat;
  background-size:108px 108px;
  background-position: top left;
  overflow:none;
}

.NoSupport-Content {
  display: table-cell;
  vertical-align:middle;
  text-align:center;
  margin: 0 auto;
  padding:40px;
  width:100%;
  font-family:'Fredoka One';
  font-weight:100;
  font-style:italic;
  color:#fffff0;
  font-size:14px;
  line-height:30px;
  letter-spacing:1px;

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 16px;
    margin-bottom:6px;
    margin-top:40px;
  }

  p {
    margin: 10px 0;
  }
}
