.CustomGMap {

  top:0;
  left:0;
  background-color: #222222 !important;

  perspective:500px;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  transform: rotateX(0deg) scale(1);

  &.tilted {
    transform: rotateX(10deg) scale(1.3);
  }

}

.CustomGMap-container {


}

.CustomGMap-overlay {

  transform: translateZ(0);
  z-index:10;
  background-image: url('../images/brick-overlay.png');
  background-repeat: repeat;
  background-size:50px 50px;
  opacity:0.6;
  pointer-events:none;
}

.CustomGMap-gloss {
  pointer-events:none;
  z-index:11;
  background-image: linear-gradient(120deg, rgba(100,255,255,0.3), rgba(0,0,0,0));
}

.CustomGMap-three {
  pointer-events:none;
  z-index:12;

  canvas {
    display: block;
  }
}

.CustomGMap-minifig {
  position:absolute;
  left:50%;
  top:50%;

}

.CustomGMap-minifig-circle {
  width:60px;
  height:60px;
  border-radius:30px;
  border:4px dotted white;

  animation-name: spin;
  animation-duration: 40000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  &.over-road {
    border:4px dotted #FFF03A;
  }

}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
