<div class="CustomGMap u-fullParent" v-on="mousemove: onMouseMove">
  <div class="CustomGMap-container u-fullParent"></div>
  <div class="CustomGMap-overlay u-fullParent"></div>
  <div class="CustomGMap-gloss u-fullParent"></div>
  <div class="CustomGMap-three u-fullParent"></div>
</div>

<div v-el="minifig" class="CustomGMap-minifig">
  <div class="CustomGMap-minifig-circle" v-on="mouseover: onCircleOver, mouseout: onCircleOut">
  </div>
  <!--<div class="js-pegman-circle pegman-circle"></div>
  <div class="pegman"></div>
  <div class="instructions">
    <p class="triangle-border js-message left">Choose your location and<br>pick me up!</p>
  </div>-->
</div>

