<div class="CustomGMap u-fullSize u-fullParent">
  <div class="CustomGMap-container u-fullSize u-fullParent"></div>
  <div class="CustomGMap-overlay u-fullSize u-fullParent"></div>
  <div class="CustomGMap-gloss u-fullSize u-fullParent"></div>
  <div class="CustomGMap-three u-fullSize u-fullParent"></div>
</div>

<div v-el="pegman" class="CustomGMap-pegman">
  Pegman
  <!--<div class="js-pegman-circle pegman-circle"></div>
  <div class="pegman"></div>
  <div class="instructions">
    <p class="triangle-border js-message left">Choose your location and<br>pick me up!</p>
  </div>-->
</div>

