.StreetviewPano {
  canvas {
    display: block;
  }
}

.StreetviewPano-locationTitle {
  pointer-events:none;
  width:100%;
  height:50px;
  position:absolute;
  bottom:20px;
  text-transform:uppercase;
  font-size:20px;
  letter-spacing: 2px;
  font-family: 'Fredoka One', cursive;
  font-style: italic;
  font-weight:200;
  text-align:center;
  color:#FFFFF0;
}
/*body {
  background:black;
}*/
