.Loader {
  text-align:center;
  pointer-events:none;
}

.Loader-symbol {

  opacity: 1;

  font-size:50px;
  transition: all 0.4s ease-out;

  &.fade-enter, &.fade-leave {
    opacity: 0;
    transform:translateY(-10px);
  }

}




