.Loader {
  text-align:center;
  pointer-events:none;
}

.Loader-symbol {

  opacity: 1;

  font-size:50px;
  transition: all 0.4s ease-out;

  &.fade-enter, &.fade-leave {
    opacity: 0;
    transform:translateY(-10px);
  }

}

.Loader-previewWrapper {
  position:absolute;
  pointer-events: none;
}


.Loader-roundImage {
  position: relative;
  display: block;
  margin: 0 auto;

  box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
  border: 8px solid white;
  border-radius:128px;
  width:256px;
  height:256px;
  overflow: hidden;
}

.Loader-preview {
}

.Loader-previewLabel {
  width: 100%;
  top: 107px;
  text-align: center;
  font-size: 16px;
  position: absolute;
  font-size: 25px;
  text-transform: uppercase;
  font-family: sans-serif;
  color: white;
}


