.Loader {
  text-align:center;
  pointer-events:none;
  overflow:hidden;
  z-index:3;
}

.Loader-symbol {

  opacity: 1;

  transition: all 0.8s ease-out;

  &.fade-enter, &.fade-leave {
    opacity: 1;
  }

}

.Loader-LegoPlate {

  .Loader-LegoPlate-door {
    position:absolute;
    text-align:center;
    height:50%;
    width:100%;
    background-image: url('../images/ground_128.jpg');
    background-repeat: repeat;
    background-size:109px 109px;
    transition:all 0.4s ease-out;
  }

  .Loader-LegoPlate-door--Top {
    top:0;
    background-position: bottom left;

    .slide-enter &, .slide-leave &  {
      transform:translateY(-110%);
    }

  }

  .Loader-LegoPlate-door--Bottom {
    bottom:0;

    background-position: top left;

    .slide-enter &, .slide-leave & {
      transform:translateY(110%);
    }

  }
}

.Loader-label--top {
  display: block;
  position:absolute;
  bottom:0;
  margin: 0 auto;
}

.Loader-label--bottom {
  display: block;
  position:absolute;
  top:0;
  margin: 0 auto;
}
