<section class="Map" v-ref="section-map">
  <!--<h2>{{* title}}</h2>-->

  <custom-gmap-component></custom-gmap-component>

  <div class="Map-ui">

    <div class="Map-ui--topPanel" v-if="uiVisible" v-transition="uiHideTransition">
      <search-bar-component></search-bar-component>
    </div>
    <!--<h1 class="Map-header">BRICK STREET VIEW</h1>-->

    <div class="Map-ui--rightPanel" v-if="uiVisible" v-transition="uiHideTransition">
      <div class="Map-ui-menu">
        <button class="Map-LocationButton u-LegoButton" v-on="click: onFindLocation"></button>
        <ul class="Map-ZoomControls">
          <li><button class="LegoTile2x2 LegoTile2x2--round LegoTile-margin0 u-LegoButton" v-on="click: onZoomIn">+</button></li>
          <li><button class="LegoTile2x2 LegoTile2x2--round LegoTile-margin0 u-LegoButton" v-on="click: onZoomOut">-</button></li>
        </ul>
      </div>
    </div>
  </div>

</section>
