
.ShareUI {
  position:absolute;
  top: 0px;
  left: 0px;
  width:100%;
  height:100%;

}

.ShareUI-wrapper {
  position: absolute;
  width:100%;
  height:100%;
}

.ShareUI-bg {
  position:absolute;
  background: rgba(0,0,0,0.5);
  width:100%;
  height:100%;
  cursor: pointer;
}

.ShareUI-modal {
  position:relative;
  cursor: default;
  width: 497px;
  height: 498px;
  left:50%;
  top:50%;
  margin-left: -250px;
  margin-top: -250px;
  background: white;

  background-image: url('../images/ground_darkgrey_128.jpg');
  background-repeat: repeat;
  background-size:108px 108px;
  background-position: top left;
  box-shadow: inset 1px 1px 1px 1px rgba(255,255,255,0.2), 0 0 4px 4px rgba(0,0,0,0.3);
  border-radius:4px;

  img {
    width: 452px;
    height: 234px;
    left: 50%;
    margin-left: -226px;
    position: absolute;
    top: 67px;
  }
}

.ShareUI-close {
  position:absolute;
  cursor: pointer;
  right:1px;
}


.ShareUI-imageUrlLabel {
  position: absolute;
  top: 280px;
  left: 44px;
}

.ShareUI-imageUrl {
  position: absolute;
  top: 348px;
  left: 44px;
  overflow: hidden;
  white-space: nowrap;
  height:44px;
  width: 412px;
  font-size:16px;
  font-family: Roboto, Arial, sans-serif;
  text-transform: lowercase;
  line-height:34px;
}

.ShareUI-shareUrl {
  position: absolute;
  top: 432px;
  left: 44px;
  overflow: hidden;
  white-space: nowrap;
  height:44px;
  width: 412px;
  font-size:16px;
  font-family: Roboto, Arial, sans-serif;
  text-transform: lowercase;
  line-height:34px;
}

.ShareUI-shareUrlLabel {
  position: absolute;
  top: 366px;
  left: 44px;
}

