
.ShareMenu {
  position:absolute;
  bottom: 2px;
  left: 238px;
  width:300px;
  height:22px;

}

.ShareButton-label {
  cursor:pointer;
  //display:inline-block;
  &:hover {
    transform:scale(1.1) translateY(-1px) rotate(3deg);
    box-shadow: 1px 5px 5px 0px rgba(0,0,0,0.3);
  }

}
