
.TopMenu {
  position:absolute;
  bottom: 2px;
  left: 216px;
  width:300px;
  height:22px;

}

.TopMenu-buttonLabel {
  cursor:pointer;
  //display:inline-block;

  svg {
    fill: #000000;
  }

  &:hover {
    transform:scale(1.1) translateY(-1px) rotate(3deg);
    box-shadow: 1px 5px 5px 0px rgba(0,0,0,0.3);
  }

}

.TopMenu-buttonLabel--info {
  padding-top: 1px;
}

.TopMenu-buttonLabel--favs{
  padding-top: 0px;
}
